<%- include('../partials/header') %>


<div class="container mt-5">
    <div class="card p-4">
        <h3 class="mb-4">Edit Address</h3>
        <form>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country">
            </div>
            
            <div class="mb-3">
                <label for="city" class="form-label">City/State</label>
                <input type="text" class="form-control" id="city">
            </div>
            
            <div class="mb-3">
                <label for="postalCode" class="form-label">Postal Code</label>
                <input type="text" class="form-control" id="postalCode">
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Save Changes</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>
