
    <footer class="footer">
        <div class="footer-wrap pd-20 mg-t-20">
            <div class="d-flex justify-content-center">
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>
    </html>
